<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/recipes">Browse Recipes</a>
    {{#if authenticated}}
        <a href="/recipes/my-recipes">My Recipes</a>
        <a href="/recipes/new">Create Recipe</a>
        <a href="/recipes/favorites">Favorites</a>
        <form action="/sessions/logout" method="POST" style="display: inline;">
            <button type="submit">Logout</button>
        </form>
        
    {{else}}
        <a href="/sessions/login">Login</a>
        <a href="/register">Register</a>
    {{/if}}
    {{{body}}}
</body>

<footer>
    <p>&copy; 2026 My Recipes App</p>
</footer>
</html>