<h1>Welcome to the Home Page</h1>
<div>Here are the featured recipes</div>
<div class="recipes-container">
    {{#each recipes}}
        <div class="recipe-card">
            <h2><a href="/recipes/{{id}}">{{title}}</a></h2>
            <p><strong>Creator:</strong> <a href="/user/{{user_id}}">View Creator</a></p>
        </div>
    {{/each}}
</div>