<h1>Welcome to the Home Page</h1>
<div>Here are the featured recipes</div>
<ul>
    {{#each recipes}}
        <li>
            <a href="/recipes/{{id}}">{{title}}</a> by <a href="/user/{{user_id}}">creator</a>
        </li>
    {{/each}}
</ul>